:host {
	background-color: #EEEEEE;
	display: block;
	font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	width: 100%;
}
:host:not([active]) {
	display: none;
}
#list {
	padding: 0 15px;
}
#list > li {
	margin-bottom: 10px;
	background-color: white;
	padding: 19px;
	list-style-type: none;
	transition: transform .3s ease-out;
	transform: none;
	font-smoothing: antialiased !important;
	-webkit-font-smoothing: antialiased !important;
	border-width: 1px;
	border-color: rgba(0,0,0,0);
	border-style: solid;
	position:relative;/* for paper-ripple */
	/*Disallow user selection (annoying) */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
#list > li > .name {
	font-size: 18px;
	margin-right: 20px;
}
#list > li > .room {
	float: right;
}
#list > li > .room:before {
	content: "Room: ";
}
#list > li > .description {
	opacity: .7;
	font-size: 12px;
}
#list > li.pushed {
	border-color: #3498db;
	transform: scale(.98);
}