<link rel="import" href="/components/polymer/polymer.html">
<pc-loader target='["pc-login-view","pc-sidebar","paper-card","paper-ripple","paper-scroll-header-panel","paper-toolbar","paper-listbox","paper-item","pc-navbar"]'></pc-loader>
<link rel="import" href="/components/paper/paper-card/paper-card.html">
<dom-module id="pc-stage">

<style>
	:host {
		width: 100%;
		min-height: 100%;
	}
	:host paper-drawer-panel {
		background-color: #EEE;
	}
	:host #drawerPanel {
		display: none;
		position: fixed;
	}
	:host #contentPanel {
		left: 0px;
		position: absolute;
		top: 0px;
		width: 100%;
	}
	:host #contentPanel #navbar-brand {
		color: white !important
		text-transform: none;
	}
	--paper-listbox-background-color {
		background-color: '#F00';
	}
	paper-toolbar {
		--paper-toolbar-background: #009688;
		height: 50px;
	}
	pc-navbar, paper-header-panel[main] {
		width: 100%;
	}
	.main {
		background-color: #EEE;
		height: 100%;
		margin-top: 60px;
		position: fixed;
		width: 100%;
	}
</style>

<template>
	<paper-drawer-panel force-narrow>
		<paper-scroll-header-panel drawer>
			<paper-toolbar>
				<div>Application</div>
			</paper-toolbar>
			<pc-sidebar>
			</pc-sidebar>
		</paper-scroll-header-panel>
		<paper-header-panel main>
			<pc-navbar brand$="{{brand}}" title$="{{title}}" class="paper-toolbar">
				<paper-icon-button class="navbar-header-item" icon="menu" style="color: white;" paper-drawer-toggle></paper-icon-button>
			</pc-navbar>
			<div class="main">
				<pc-login-view title$={{title}}></pc-login-view>
			</div>
		</paper-header-panel>
	</paper-drawer-panel>
</template>

<script>
Polymer({

    is: "pc-stage",

    menuToggle: function() {
		this.$.paper_drawer_panel.togglePanel();
    },
	
	getDrawerPanel() {
		return this.$.paper_drawer_panel;
	},

    properties: {
		brand: {
			type: String,
			value: 'Project Cuttlefish',
		},
		title: {
			type: String,
			value: 'Home'
		},
		narrow: {
			type: Boolean,
			value: false,
			notify: true
		}
    },

    ready: function() {
		window.bar = this;
	}

});
</script>
</dom-module>