<link rel="import" href="/components/polymer/polymer.html">
<pc-loader target='["iron-media-query","paper-header-panel","pc-sidebar","pc-navbar","pc-login-view"]'></pc-loader>
<dom-module id="pc-stage">
	<link rel="import" type="css" href="pc-stage.css"/>
	<template>
		<iron-media-query query="(max-width: 768px)" query-matches="{{mobile}}"></iron-media-query>
		<div id="drawer" style$="[[_getDrawerStyle(drawerWidth)]]">
			<pc-sidebar class$="[[_getDrawerClasses(drawerPeeking, mobile)]]" style$="[[_getDrawerStyle(drawerWidth)]]" open$="{{open}}"></pc-sidebar>
		</div>
		<div id="mainWrapper">
			<paper-header-panel id="main">
				<pc-navbar brand$="{{brand}}" title$="{{title}}" mobile$="[[mobile]]" class="paper-toolbar">
					<paper-icon-button class="navbar-header-item" icon="menu" style="color: white;" paper-drawer-toggle></paper-icon-button>
				</pc-navbar>
				<div main>
					<pc-login-view title$={{title}}></pc-login-view>
				</div>
			</paper-header-panel>
			<div id="scrim"></div>
		</div>
	</template>
	
	<script>
		Polymer({
			is: "pc-stage",
			
			properties: {
				brand: {
					type: String,
					value: 'Project Cuttlefish',
				},
				drawerPeeking: {
					type: Boolean,
					readOnly: true,
					value: false,
					notify: true
				},
				drawerWidth: {
					type: String,
					value: '250px'
				},
				mobile: {
					tyle: Boolean,
					notify: true,
					reflectToAttribute: true
				},
				narrow: {
					type: Boolean,
					value: false,
					notify: true,
					reflectToAttribute: true
				},
				title: {
					type: String,
					value: 'Home'
				},
				open: {
					type: Boolean,
					value: false,
					notify: true,
					reflectToAttribute: true
				}
			},
			
			ready: function() {
				window.bar = this;
			},
			
			_getDrawerClasses: function(drawerPeeking, mobile) {
				return (mobile?"mobile ":"") + (drawerPeeking?"peeking":"");
			},
			_getDrawerStyle: function(drawerWidth) {
				return "width: "+drawerWidth;
			}
		});
	</script>
</dom-module>