<link rel="import" href="/components/polymer/polymer.html">
<pc-loader target='["iron-media-query","paper-header-panel","pc-sidebar","pc-navbar","pc-login-view","pc-student-schedule-view","pc-loading-view","pc-student-assignments-view","pc-student-classpage-view","pc-student-assignment-view"]'></pc-loader>
<dom-module id="pc-stage">
	<link rel="import" type="css" href="/css/component-transitions.css"/>
	<link rel="import" type="css" href="pc-stage.css"/>
	<template>
		<iron-media-query query="(max-width: 768px)" query-matches="{{mobile}}"></iron-media-query>
		<div id="drawer" style$="[[_getDrawerStyle(drawerWidth)]]">
			<pc-sidebar class$="[[_getDrawerClasses(drawerPeeking, mobile)]]" style$="[[_getDrawerStyle(drawerWidth)]]" open$="{{open}}"></pc-sidebar>
		</div>
		<div id="mainWrapper">
			<paper-header-panel id="main" mode="waterfall">
				<pc-navbar brand$="{{brand}}" title$="{{title}}" mobile$="[[mobile]]" class="paper-toolbar" shadow$="{{shadow}}">
					<paper-icon-button class="navbar-header-item" icon="menu" style="color: white;" on-tap="toggleDrawer"></paper-icon-button>
				</pc-navbar>
				<div main>
					<pc-loading-view class="pc-view stage-mobile-observer" id="loading"></pc-loading-view>
					<pc-login-view class="pc-view stage-mobile-observer pc-default-view" id="login"></pc-login-view>
					<pc-student-schedule-view class="pc-view stage-mobile-observer" id="schedule"></pc-student-schedule-view>
					<pc-student-assignments-view class="pc-view stage-mobile-observer" id="assignments"></pc-student-assignments-view>
					<pc-student-classpage-view class="pc-view stage-mobile-observer" id="class"></pc-student-classpage-view>
					<pc-student-assignment-view class="pc-view stage-mobile-observer" id="assignment"></pc-student-assignment-view>
				</div>
			</paper-header-panel>
			<div id="scrim" on-tap="closeDrawer"></div>
		</div>
	</template>
	
	<script>
		Polymer({
			is: "pc-stage",
			
			properties: {
				brand: {
					type: String,
					value: 'Project Cuttlefish | Student',
				},
				drawerPeeking: {
					type: Boolean,
					readOnly: true,
					value: false,
					notify: true
				},
				drawerWidth: {
					type: String,
					value: '250px'
				},
				mobile: {
					tyle: Boolean,
					notify: true,
					reflectToAttribute: true,
					observer: '_mobileUpdate'
				},
				narrow: {
					type: Boolean,
					value: false,
					notify: true,
					reflectToAttribute: true
				},
				title: {
					type: String,
					value: 'Home'
				},
				open: {
					type: Boolean,
					value: false,
					notify: true,
					reflectToAttribute: true
				},
				shadow: {
					type: Boolean,
					value: false,
					notify: true
				}
			},
			listeners: {
			},
			ready: function() {
				window.stage = this;
				var $this = $(this), self = this;
				$this.find('[main]').scroll(function() {
					var st = $this.find('[main]')[0].scrollTop;
					self.shadow = st!=0;
				});
			},
			attached: function() {
				console.log('ready');
				$(this).trigger('ready');
			},
			_getDrawerClasses: function(drawerPeeking, mobile) {
				return (mobile?"mobile ":"") + (drawerPeeking?"peeking":"");
			},
			_getDrawerStyle: function(drawerWidth) {
				return "width: "+drawerWidth;
			},
			toggleDrawer() {
				this.open = !this.open;
			},
			closeDrawer() {
				this.open = false;
			},
			loadView(name, element) {
				//$('head').append($(ce('link')).attr({rel:'import',href:element}));
				$(this)
					.find('div[main]')
					.append($(ce(element))
						.addClass('pc-view stage-mobile-observer')
						.attr({'id':name}));
			},
			showView(name, args, cancellable) {
				console.log(name, args);
				var target = name;
				var $views = $(this).find('.pc-view');
				//get target view
				var tview = $views.filter((target)?('#'+target):('.pc-default-view'));//TODO fix for possible injection
				var activeView = $views.filter('[active]');
				if (activeView.length > 0 && activeView == tview)
					return;
				else {
					var event = $.Event('pc-view-prehide');
					console.info('pc-view-prehide',activeView.attr('id'));
					activeView.trigger(event);
					if (cancellable && event.isDefaultPrevented())
						return;
					console.info('pc-view-posthide',activeView.attr('id'));
					activeView.removeAttr('active')
						.trigger('pc-view-posthide',{});
				}
				
				if ($('pc-navbar').find('paper-button:target').length == 0)
					$('pc-navbar').find('paper-button.bf').attr('id',name);
				if ('navbar' in window)
					window.navbar.setActiveButton(name);
				var psevent = $.Event('pc-view-preshow');
				psevent.preload=true;
				psevent.args=args;
				psevent.target = tview;
				console.info('pc-view-preshow',tview.attr('id'));
				tview.trigger(psevent);
				if (psevent.isDefaultPrevented())
					return;
				//add active attr
				tview.attr('active','');
				console.info('pc-view-postshow',tview.attr('id'));
				tview.trigger('pc-view-postshow',{args:args});
				//TODO transition code
			},
			_mobileUpdate(is,was) {
				var observers = $('.stage-mobile-observer');
				if (is) {
					observers.attr('mobile','');
				} else {
					observers.removeAttr('mobile');
				}
			}
		});
	</script>
</dom-module>