paper-toolbar {
	--paper-toolbar-background: #009688;
}
:host {
	background-color: #EEE;
	display: block;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

:host > #drawer {
	-moz-box-sizing: border-box;
	background-color: white;
	box-sizing: border-box;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 10;
}
:host > #drawer > pc-sidebar {
	height: 100%;
}
.transition > #drawer {
	transition: -webkit-transform ease-in-out 0.3s, width ease-in-out 0.3s, visibility 0.3s;
	transition: transform ease-in-out 0.3s, width ease-in-out 0.3s, visibility 0.3s;
}
:host > #mainWrapper {
	z-index: 9;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.transition > #mainWrapper {
	transition: left ease-in-out 0.3s, padding ease-in-out 0.3s;
}
:host[mobile] > #drawer {
	will-change: transform;
}
:host[mobile][open] > #drawer {
	box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
	border: 0;
}
:host[mobile]:not([open]) > #drawer, :host:not([mobile]) > #drawer {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}
:host[mobile] > #mainWrapper > #main > [main] {
	padding: 0;
}
:host > #mainWrapper > #scrim {
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity ease-in-out 0.38s, visibility ease-in-out 0.38s;
	visibility: hidden;
}
:host[mobile][open] > #mainWrapper > #scrim,
:host.dragging > #mainWrapper > #scrim { /* TODO test that this actually works */
	visibility: visible;
	opacity: 1;
}
:host[mobile] > #mainWrapper > * {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	left: 0;
	margin: 0;
	min-height: 100%;
	right: 0;
}
:host:not([mobile]) > #mainWrapper > #main [paper-drawer-toggle] {
	display: none;
}
:host .xview:not([active]){
	display: none;
}