:host {
	width: 100%;
	min-height: 100%;
	background-color: rgba(149, 165, 166, 1);/*#95a5a6;*/
}
:host:not([active]) {
	display: none;
}
:host>form {
	margin: 4em auto;
	box-sizing: border-box;
	background: #FAFAFA;
	border: 1px solid #EBEBEB;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	padding: 32px;
	padding-top: 48px;
	border-radius: 2px;
	position: relative;
	top: 75px;
}
:host>form>.form-group {
	margin: 0;
	margin-bottom: 45px;
}
:host paper-button {
	width: 100%;
	background-color: #00aa9a;
	font-weight: 300 !important;
	color: #FFF;
	text-decoration: none;
	text-transform: none !important;
	width: 100%;
	font-family: RobotoDraft, Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
}
:host:not([mobile])>form {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0  6px 30px 5px rgba(0, 0, 0, 0.12),
		0  8px 10px -5px rgba(0, 0, 0, 0.4);
	width: 380px;
}
:host[mobile]>form {
	width: 100%;
}
:host[mobile] pc-input {
	--pc-input-small-label-font: 14px;
	--pc-input-big-label-font: 18px;
	--pc-input-font: 18px;
	--pc-input-label-offset: -10px;
}
:host[mobile] paper-button {
	font-size: 18px;
}