<link rel="import" href="/components/polymer/polymer.html"/>
<pc-loader target='["pc-input","paper-button"]'></pc-loader>
<dom-module id="pc-login-view">
	<link rel="import" type="css" href="pc-login-view.css" inline/>
	<link rel="import" type="css" href="/css/components.css"/>
	<link rel="import" type="css" href="/css/component-transitions.css"/>
	<template>
		<form class="container transitions fade-out" id="loginform" method="POST">
			<div class="form-group">
				<pc-input label="Username" name="username" id="usernameInput"></pc-input>
			</div>
			<div class="form-group">
				<pc-input label="Password" type="password" name="password" id="passwordInput"></pc-input>
			</div>
			<paper-button dialog-confirm>Sign In</paper-button>
		</form>
		<div class="transitions fade-in" id="loginText">Logging in...</div>
	</template>
	<script>
		Polymer({
			is: 'pc-login-view',
			properties: {
				mobile: {
					type: Boolean,
					readOnly: true,
					reflectToAttribute: true
				},
			},
			ready: function() {
				var $this = $(this);
				$this.find('#loginform > paper-button').on('click',this.login.bind(this));
				$this.addClass('transitions slide-up');
				//reset animations
				$this.on('pc-view-preshow',function() {
					$this.find('#loginform, #loginText').removeClass('transitioning');
					$this.removeClass('transitioning');
				});
			},
			login: function() {
				var $this = $(this);
				var form = $this.find('#loginform');
				form.addClass('transitioning');
				setTimeout(function(){$this.find('#loginText').addClass('transitioning');},400);
				UAC.login({username: form.find("#usernameInput").val(),password: form.find("#passwordInput").val()}).then(
					function() {
						$this.addClass('transitioning');
						setTimeout(function(){window.stage.showView('assignments',[]);},500);
					},
					function() {
						form.removeClass('transitioning');
					});
			}
		});
	</script>
</dom-module>