<link rel="import" href="/components/polymer/polymer.html"/>
<pc-loader target='["pc-input","paper-button"]'></pc-loader>
<dom-module id="pc-login-view">
	<link rel="import" type="css" href="pc-login-view.css" inline/>
	<template>
		<form onsubmit="return false" method="POST" id="loginform1">
			<div class="form-group">
				<pc-input label="Username" name="userName"></pc-input>
			</div>
			<div class="form-group">
				<pc-input label="Password" type="password" name="password"></pc-input>
			</div>
			<paper-button dialog-confirm>Sign In</paper-button>
		</form>
	</template>
	<script>
		Polymer({
			is: 'pc-login-view',
			properties: {
				mobile: {
					type: Boolean,
					readOnly: true,
					reflectToAttribute: true
				},
			},
            login: function(){
            	console.log("Submitted!")
                function authenticate(userName, password) {
        		$.ajax
                    ({
            			type: "POST",
            			url: "/data/users.json",
            			dataType: 'json',
            			async: true,
            			data: '{"userName": "' + userName + '", "password" : "' + password + '"}',
            			success: function() {
                            alert("YOOOOOOOOOOOOOOO")
                        }
                    })
                }
            }
		});
	</script>
</dom-module
