:host {
	display: block;
	width: 100%;
	background-color: #009688;
	height: calc(100% - 60px);
	font-family: RobotoDraft, Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
:host:not([active]) {
	display: none;
}
#loginform {
	background: #FAFAFA;
	border-radius: 2px;
	border: 1px solid #EBEBEB;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	margin: 4em auto;
	padding-top: 48px;
	padding: 32px;
	position: relative;
	top: 75px;
}
#loginform > .form-group {
	margin: 0;
	margin-bottom: 45px;
}
:host paper-button {
	width: 100%;
	background-color: #00aa9a;
	font-weight: 300 !important;
	color: #FFF;
	text-decoration: none;
	text-transform: none !important;
	width: 100%;
	margin: 0;
}
:host:not([mobile]) > #loginform {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0  6px 30px 5px rgba(0, 0, 0, 0.12), 0  8px 10px -5px rgba(0, 0, 0, 0.4);
	width: 380px;
}
:host[mobile] > #loginform {
	width: 100%;
}
:host[mobile] pc-input {
	--pc-input-small-label-font: 14px;
	--pc-input-big-label-font: 18px;
	--pc-input-font: 18px;
	--pc-input-label-offset: -10px;
}
:host[mobile] paper-button {
	font-size: 18px;
}
#loginText {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 24px;
	top: 50%;
	color: white;
}