:host {
	background-color: #EEEEEE;
	display: block;
	font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	width: 100%;
}
:host:not([active]) {
	display: none;
}
.col-classname {
	width: 40%;
}
.col-teacher {
	width: 20%;
}
.attendance {
	text-align: center;
}
.attendance > span {
	width: 100%;
	display: block;
	height: 100%;
	border-radius: 10px;
}
.attendance:not(.future) span {
	color: white;
}
.attendance.attended > span, :host[mobile] .attendance.attended {
	background-color: #27ae60;
}
.attendance.excused > span, :host[mobile] .attendance.excused {
	background-color: #2980b9;
}
.attendance.inexcused > span, :host[mobile] .attendance.inexcused {
	background-color: #c0392b;
}
.attendance.future  > span:after {
	content: "--";
}
.attendance.attended > span:after {
	content: "Attended";
}
.attendance.inexcused > span:after {
	content: "Inexcused";
}
.attendance.excused > span:after {
	content: "Excused";
}
:host td>span.separator:after {
	content: " - ";
}
:host[mobile] .attendance:not(.future) {
	border-radius: 10px;
}
:host[mobile] .container {
	margin-top: 50px;
}
:host[mobile] .separator {
	display: none;
}
:host[mobile] .starttime,:host[mobile] .endtime {
	display: block;
}