<link rel="import" href="/components/polymer/polymer.html"/>
<pc-loader target='["paper-input"]'></pc-loader>
<dom-module id="pc-student-schedule-view">
	<link rel="import" type="css" href="pc-student-schedule-view.css"/>
	<template>
		<div class="container">
			<table>
				<thead>
					<tr>
						<th class="sortable col-time">Time<iron-icon icon="expand-less"></iron-icon></th>
						<th>Block</th>
						<th>Class</th>
						<th>Teacher</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>8-9</td>
						<td>1</td>
						<td>Algebra 1</td>
						<td><a href="mailto:foo@example.com">Ms. Smith</a></td>
					</tr>
					<tr>
						<td>9-10</td>
						<td>2</td>
						<td>Class 2</td>
						<td><a href="mailto:bar@example.com">Mr. Jones</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</template>
	<script>
		Polymer({
			is: 'pc-student-schedule-view',
			properties: {
				mobile: {
					type: Boolean,
					readOnly: true
				},
			},
			ready: function() {
				if (window.location.hash=='#schedule')
					$(this).attr('active','');
			}
		});
	</script>
</dom-module>