<link rel="import" href="/components/polymer/polymer.html"/>
<pc-loader target='["paper-input"]'></pc-loader>
<dom-module id="pc-student-schedule-view">
	<link rel="import" type="css" href="pc-student-schedule-view.css"/>
	<link rel="import" type="css" href="/css/components.css"/>
	<link rel="import" type="css" href="/css/component-transitions.css"/>
	<link rel="import" type="css" href="/css/table.css"/>
	<link rel="import" type="css" href="/css/pager.css"/>
	<template>
		<h1 class="page-header">Schedule</h1>
		<div class="container transitions in-fade-in">
			<ul class="pager">
				<li class="prev" on-click="_prevDay">←</li>
				<li class="center">{{_prettifyDate(date)}}</li>
				<li class="next" on-click="_nextDay">→</li>
			</ul>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-block">Block</th>
						<th class="sortable col-time">Time<iron-icon icon="icons:arrow-drop-down"></iron-icon></th>
						<th class="col-classname">Class</th>
						<th class="col-teacher">Teacher</th>
						<th class="col-attendance">Attendance</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td><span class="starttime">&nbsp;&nbsp;8:00</span><span class="separator"></span><span class="endtime">&nbsp;&nbsp;9:00</span></td>
						<td><a href="#class/1234">Class 1</a></td>
						<td><a href="mailto:foo@example.com">Ms. Smith</a></td>
						<td class="attendance future"><span></span></td>
					</tr>
					<tr>
						<td>2</td>
						<td><span class="starttime">&nbsp;&nbsp;9:00</span><span class="separator"></span><span class="endtime">10:00</span></td>
						<td><a href="#class/5678">Class 2</a></td>
						<td><a href="mailto:bar@example.com">Mr. Jones</a></td>
						<td class="attendance inexcused"><span></span></td>
					</tr>
					<tr>
						<td>3</td>
						<td><span class="starttime">10:00</span><span class="separator"></span><span class="endtime">11:00</span></td>
						<td><a href="#class/5678">Class 3</a></td>
						<td><a href="mailto:bar@example.com">Teacher</a></td>
						<td class="attendance excused"><span></span></td>
					</tr>
					<tr>
						<td>4</td>
						<td><span class="starttime">11:00</span><span class="separator"></span><span class="endtime">12:00</span></td>
						<td><a href="#class/5678">Class 4</a></td>
						<td><a href="mailto:bar@example.com">Teacher</a></td>
						<td class="attendance attended"><span></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</template>
	<script>
		var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];
		var dayPrefixes = ['Sun','Mon','Tues','Wednes','Thurs','Fri','Satur'];
		Polymer({
			is: 'pc-student-schedule-view',
			properties: {
				mobile: {
					type: Boolean,
					readOnly: true,
					reflectToAttribute: true
				},
				date: {
					type: Number,
					notify: true,
					observer: '_scheduleWriter',
					value: -1
				}
			},
			ready: function() {
				if (this.date == -1)
					this.date = Date.now();
				this.scopeSubtree(this.$$('tbody'), true);
				var $this = $(this);
				$this.on('pc-view-preshow', function (e) {
					$this.find('.container').removeClass('transitioning');
					var resourceName = 'schedule/30FEB2016';//TODO fix
					var value = ResourceLoader.instance.require({
						name: resourceName,
						cache: 300,
						type: 'JSON'
					}).then(
						(schedule) => {
							if (window.location.hash.startsWith('#schedule'))
								this.buildSchedule(schedule, (a,b) => (a.block-b.block));
						},
						(error, xhr) => {
							console.error(error);
							if (window.location.hash.startsWith('#schedule')) {
								alert('Failed to load \'' + resourceName + '.json\'');
								e.preventDefault();
							}
						});
				}).on('pc-view-postshow', function(e) {
					window.navbar.setActiveButton('schedule');
					$this.find('.container').addClass('transitioning');
				}).on('pc-view-preload', function(e) {
					ResourceLoader.instance.require('schedule/'+e.args[0]+'/'+e.args[1]);
				}).on('pc-view-prehide', function(e) {
					$(this.$$('tbody')).empty();
				});
			},
			_nextDay: function() {
				this.date = this.date + 84600000 ;
			},
			_prevDay: function() {
				this.date = this.date - 84600000 ;
			},
			_scheduleWriter: function(ts) {
				
			},
			buildSchedule(info, comparator) {
				console.log('building',info);
				var container = $(this).find('tbody').empty();
				var classes = info.sort(comparator);
				for (var i in classes) {
					var clazz = classes[i];
					container.append($(ce('tr'))
						.append($(ce('td')).html(clazz.block))
						.append($(ce('td'))
							.append($(ce('span'))
								.addClass('starttime')
								.html((clazz.start.length<5?'&nbsp;&nbsp;':'') + clazz.start))
							.append($(ce('span')).addClass('separator'))
							.append($(ce('span'))
								.addClass('endtime')
								.html((clazz.end.length<5?'&nbsp;&nbsp;':'') + clazz.end)))
						.append($(ce('td'))
							.append($(ce('a'))
								.attr('href','#class/'+clazz.classID)
								.html(clazz.name)))
						.append($(ce('td'))
							.append($(ce('a'))
								.attr('href','mailto:'+clazz.temail)
								.html(clazz.tfname)))
						.append($(ce('td'))
							.addClass('attendance')
							.addClass(clazz.attendance)
							.append($(ce('span')))));
					}
			},
			_prettifyDate: function(ts) {
				var date = new Date(ts);
				return dayPrefixes[date.getDay()] + 'day, ' + months[date.getMonth()] + ' ' + date.getDate() + ', ' + date.getFullYear();
			}
		});
	</script>
</dom-module>