:host {
	width: 100%;
	height: 100%;
	display: block;
	padding-top: 50px;
	background-color: #EEEEEE;
	font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
:host:not([active]) {
	display: none;
}
.col-time {
}
.col-block {
}
.col-classname {
	width: 40%;
}
.col-teacher {
	width: 20%;
}
:host[mobile] .container {
	margin-top: 50px;
}
:host a.flat {
	color: black;
	text-decoration: none;
}
.attendance {
	text-align: center;
}
.attendance span {
	width: 100%;
	display: block;
	border-radius: 10px;
	height: 100%;
}
:host[mobile] td.attendance {
	padding-top: 0px;
	padding-bottom: 0px;
}
.attendance:not(.future) span {
	color: white;
}
.attendance.attended span {
	background-color: #27ae60;
}
.attendance.excused span{
	background-color: #2980b9;
}
.attendance.inexcused span{
	background-color: #c0392b;
}
:host[mobile] .separator {
	display: none;
}
:host[mobile] .starttime,:host[mobile] .endtime {
	display: block;
}