<link rel="import" href="/components/polymer/polymer.html"/>
<pc-loader target='["paper-toolbar","paper-ripple","paper-button","paper-icon-button"]'></pc-loader>
<dom-module id="pc-navbar">
	<link rel="import" type="css" href="pc-navbar.css"/>
	<template>
		<div class="navbar-container">
			<div class="navbar-header">
				<span class="navbar-menu-button"><content select=".navbar-header-item"></content></span>
				<paper-button class="navbar-brand" href="#">{{brand}}</paper-button>
			</div>
			<div class="navbar-titlebar">
				<span>{{title}}</span>
			</div>
			<ul class="navbar-itemlist">
				<paper-button href="#schedule" id="schedule">Schedule</paper-button>
				<paper-button href="#assignments" id="assignments">Assignments</paper-button>
				<paper-button href="#clubs" id="clubs">Clubs</paper-button>
				<paper-button href="#grades" id="grades">Grades</paper-button>
			</ul>
		</div>
	</template>
	<script>
		Polymer({
			is: 'pc-navbar',
			properties: {
				mobile: {
					type: Boolean,
					readOnly: true
				},
				brand: {
					type: String
				},
				title: {
					type: String
				}
			},
			ready: function() {
				window.navbar=this;
				console.log('hi!');
				$(this).find('paper-button[href]').on('click',function(e) {
				
//					if ('pushState' in history)
	//					history.pushState({origin:'navbar'},'title',$(e.target).attr('href'));
		//			else
						window.location = $(e.target).attr('href');
				})
			}
		});
	</script>
</dom-module>