:host {
	background-color: rgb(0, 150, 136);
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	border: 0;
	min-height: 44px;
	margin-bottom: 20px;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	font-family: RobotoDraft, Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.428;
	-webkit-touch-callout: none;
	/*Disallow user selection (annoying) */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 24px;
}
:host::before {
	display: table;
	content: " ";
	box-sizing: border-box;
}
.navbar-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	height: 100%;
}
.navbar-header {
	display: block;
	float: left;
	height: 100%;
	min-height: 44px;
	min-width: 44px;
}
.navbar-brand {
	margin-left: -15px;
	text-decoration: none;
	font-size: 18px;
	height: 60px;
	line-height: 30px;
	padding: 15px;
}
:host paper-button { 
	display: block;
	font-weight: 300 !important;
	color: #FFF;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: none !important;
	margin: 0;
	padding-top: calc(height/2);
	border-radius: 0;
}
:host paper-toolbar {
	--paper-toolbar-background: #009688;
}
:host paper-toolbar * {
	margin: 4px;
}
.navbar-titlebar {
	color: white;
}
:host ::content paper-icon-button {
	height: 100%;
	min-width: 44px;
}
:host ::content paper-icon-button iron-icon#icon {
	width: 24px;
	height: 24px;
	margin-left: 2px;
}
:host:not([mobile]) .navbar-itemlist {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 100%;
}

.navbar-itemlist>* {
	display: inline-block;
}
.navbar-itemlist>*:not(:first-child) {
	margin-left: -6px;
}
:host:not([mobile]) .navbar-itemlist paper-button {
	padding: 20px 15px 20px 15px;
	font-size: 14px;
	line-height: 20px;
	position: relative;
}
:host:not([mobile]) .navbar-menu-button, :host:not([mobile]) .navbar-titlebar {
	display: none;
}
/* Mobile styles */
:host[mobile] .navbar-itemlist, :host[mobile] .navbar-brand {
	display: none;
}
:host[mobile] .navbar-titlebar {
	width: 100%;
	text-align: center;
}
:host[mobile] .navbar-titlebar span {
	display: inline-block;
	margin: none;
	padding: 5px 10px;
}