:host {
	background-color: rgb(0, 150, 136);
	border: 0;
	box-sizing: border-box;
	display: block;
	font-family: RobotoDraft, Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 24px;
	left: 0;
	line-height: 1.428;
	margin-bottom: 20px;
	/*min-height: 44px;*/
	min-height: 50px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	/*Disallow user selection (annoying) */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
:host::before {
	display: table;
	content: " ";
	box-sizing: border-box;
}
.navbar-container {
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-header {
	display: block;
	float: left;
	height: 100%;
	min-height: 44px;
	min-width: 44px;
}
.navbar-brand {
	margin-left: -15px;
	text-decoration: none;
	font-size: 18px;
	height: 60px;
	line-height: 30px;
	padding: 15px;
}
:host paper-button { 
	border-radius: 0;
	color: #FFF;
	display: block;
	font-weight: 300 !important;
	margin: 0;
	padding: 4px;
	padding-top: calc(height/2);
	text-align: center;
	text-decoration: none;
	text-transform: none !important;
	transition: 1s ease all;
}
paper-button.hash-active, paper-button:target {
	background-color: #40B0A6;
}
:host paper-toolbar {
	--paper-toolbar-background: #009688;
}
:host paper-toolbar * {
	margin: 4px;
}
.navbar-titlebar {
	color: white;
}
:host ::content paper-icon-button {
	height: 100%;
	min-width: 44px;
}
:host ::content paper-icon-button iron-icon#icon {
	width: 24px;
	height: 24px;
	margin-left: 2px;
}
:host:not([mobile]) .navbar-itemlist {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 100%;
}

.navbar-itemlist>* {
	display: inline-block;
}
.navbar-itemlist>*:not(:first-child) {
	margin-left: -6px;
}
:host:not([mobile]) .navbar-itemlist paper-button {
	padding: 20px 15px 20px 15px;
	font-size: 14px;
	line-height: 20px;
	position: relative;
}
:host:not([mobile]) .navbar-menu-button, :host:not([mobile]) .navbar-titlebar {
	display: none;
}
/* Mobile styles */
:host[mobile] .navbar-itemlist, :host[mobile] .navbar-brand {
	display: none;
}
:host[mobile] .navbar-titlebar {
	width: 100%;
	text-align: center;
}
:host[mobile] .navbar-titlebar span {
	display: inline-block;
	margin: none;
	padding: 5px 10px;
}

@media all and (min-width: 768px) {
	#navbar-itemlist {
		float: left;
		height: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	#navbar-itemlist>* {
		display: inline-block;
	}
	#navbar-itemlist paper-button {
		font-size: 14px;
		line-height: 20px;
		padding: 20px 15px 20px 15px;
		position: relative;
	}
	#navbar-itemlist paper-button:not(:first-of-type) {
		margin-left: -6px;
	}
	.navbar-menu-button, #titlebar {
		display: none;
	}
}
@media all and (max-width: 768px) {
	#navbar-itemlist, .navbar-brand {
		display: none;
	}
	#titlebar {
		color: white;
		text-align: center;
		width: 100%;
	}
	#titlebar span {
		display: inline-block;
		margin: none;
		padding: 5px 10px;
	}
}