<link rel="import" href="/components/polymer/polymer.html"/>
<pc-loader target='["paper-toolbar","paper-ripple","paper-button","paper-icon-button"]'></pc-loader>
<dom-module id="pc-navbar">
	<link rel="import" type="css" href="pc-navbar.css"/>
	<template>
		<div class="navbar-header mh50">
			<span class="navbar-menu-button mh50"><content select=".navbar-header-item"></content></span>
			<paper-button class="navbar-brand mh50" href="#">{{brand}}</paper-button>
		</div>
		<div class="navbar-titlebar">
			<span>{{title}}</span>
		</div>
		<ul class="navbar-itemlist">
			<paper-button href="#schedule" name="schedule">Schedule</paper-button>
			<paper-button href="#assignments" name="assignments">Assignments</paper-button>
			<paper-button href="#clubs" name="clubs">Clubs</paper-button>
			<paper-button href="#grades" name="grades">Grades</paper-button>
		</ul>
		<div id="shadow"></div>
	</template>
	<script>
		Polymer({
			is: 'pc-navbar',
			properties: {
				mobile: {
					type: Boolean,
					readOnly: true
				},
				brand: {
					type: String
				},
				title: {
					type: String
				}
			},
			ready: function() {
				window.navbar=this;
				this.scopeSubtree(this.$$('.navbar-itemlist'), true);
				var self = this;
				$(this).find('paper-button[href]').on('click',function(e) {
					window.location = $(e.target).attr('href');
					self.setActiveButton($(e.target).attr('name'));
				});
			},
			setActiveButton: function(name) {
				var buttons = $(this).find('.navbar-itemlist > paper-button');
				buttons.filter('.hash-active').removeClass('hash-active');
				buttons.filter('[name='+name+']').addClass('hash-active');
			}
		});
	</script>
</dom-module>