:host {
	background-color: #EEEEEE;
	display: block;
	font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	width: 100%;
}
:host:not([active]) {
	display: none;
}
:host paper-tabs {
	position: relative;
	margin-left: 15px;
	margin-right: 15px;
	--paper-tabs-selection-bar-color: #009688;
}
#content {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}
#content > div {
	margin: 19px;
}
:host>.main:not(.active) {
	visibility: hidden;
	display: none !important;
}
#resources {
	flex-direction: row;
	 justify-content: center;
	flex-wrap: wrap;
	display: flex;
	padding: 19px;
}
#resources > div {
	display: inline-block;
	text-align: center;
	transition-duration: .5s;
	background-color: rgba(0,0,0,0);
}
#resources > div > img {
	display: block;
	margin-bottom: 5px;
	padding: 0;
}
#resources > div:hover {
	transform: scale(1.1);
}