<link rel="import" href="/components/polymer/polymer.html"/>
<pc-loader target='["iron-icon"]'></pc-loader>
<dom-module id="pc-student-assignment-view">
	<link rel="import" type="css" href="pc-student-assignment-view.css"/>
	<link rel="import" type="css" href="/css/components.css"/>
	<link rel="import" type="css" href="/css/component-transitions.css"/>
	<template>
		<h1 class="page-header">Assignment Name</h1>
		<div class="container transitions in-fade-in" id="details">
		</div>
		<ul class="container transitions in-fade-in" id="rightpanel">
			<li class="status assigned"><span></span></li>
			<li class="dates">
				<table>
					<thead>
						<tr>
							<th class="assigned">Assigned</th>
							<th class="spacer"></th>
							<th class="due">Due</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="assigned"><span></span></td>
							<td class="spacer"></td>
							<td class="due"><span></span></td>
						</tr>
					</tbody>
				</table>
			</li>
			<li id="files">
				<h2>Uploads</h2>
				<ul>
				</ul>
			</li>
		</ul>
	</template>
	<script>
		Polymer({
			is: 'pc-student-assignment-view',
			properties: {
				mobile: {
					type: Boolean,
					readOnly: true,
					reflectToAttribute: true
				},
				tab: {
					type: String,
					notify: true,
					reflectToAttribute: true
				}
			},
			ready: function() {
				this.scopeSubtree(this.$$('#files>ul'), true);
				var $this = $(this);
				$this.on('pc-view-preshow', function(e) {
					var resourceName = 'assignment/'+e.args[0]+'/'+e.args[1];
					var value = ResourceLoader.instance.require({
						name: resourceName,
						cache: 300,
						type: 'JSON'
					}).then(
						(assignment) => {
							if (window.location.hash.startsWith('#assignment/')) {
								this.buildWith(assignment);
								this.transitionIn();
							}
						},
						(error, xhr) => {
							console.error(error);
							if (window.location.hash.startsWith('#assignment/')) {
								alert('Failed to load \'' + resourceName + '.json\'');
								e.preventDefault();
							}
						});
				}).on('pc-view-postshow', function(e) {
					window.navbar.setActiveButton('assignments');
				}).on('pc-view-preload', function(e) {
					ResourceLoader.instance.require('assignment/'+e.args[0]+'/'+e.args[1]);
				}).on('pc-view-prehide', function(e) {
					this.transitionOut();
				});
			},
			buildWith: function(assignment) {
				if (window.stage.mobile)
					window.stage.title = assignment.name;
				var $this = $(this);
				$this.find('.page-header').html(assignment.name);
				var lines = assignment.details.split('\n');
				$(this.$.details).empty();
				for (var i in lines)
					$(this.$.details).append($(ce('p')).html(lines[i]));
				
				$this.find('.dates tbody .assigned').html(assignment.assigned);
				$this.find('.dates tbody .due').html(assignment.due);
				
				$this.find('.status').removeClass('future assigned graded completed overdue').addClass(assignment.status);
				
				var fileRow = $(this.$.files)
				if (assignment.files.length == 0) {
					fileRow.css({display:'none'});
				} else {
					fileRow.css({display:'list-item'});
					var filelist = fileRow.find('ul').empty();
					for (var i in assignment.files) {
						var file = assignment.files[i];
						var icon = '';
						switch (file.type) {
							case 'ppt'://presentation
								icon='av:airplay';//TODO: better icon
								break;
							case 'vid'://video
								icon='av:movie';
								break;
							case 'img'://image
								icon='image:photo';
								break;
							case 'doc'://document
								icon='icons:description';
								break;
							case 'fcd'://flash cards
								icon='icons:content-copy';//TODO: better icon
								break;
							case 'zip'://zip
								icon='icons:folder';//TODO: better icon
								break;
						}
						var entry = $(ce('li'))
							.append($(ce('iron-icon'))
								.attr('icon',icon))
							.append(file.name)
							.attr('type',file.type)
							.attr('attached',file.attached)
							.attr('required',file.required);
						filelist.append(entry);
					}
				}
			},
			transitionIn: function() {
				$(this).find('.container').addClass('transitioning');
			},
			transitionOut: function() {
				$(this).find('.container').removeClass('transitioning');
			}
		});
	</script>
</dom-module>