:host {
	background-color: #EEEEEE;
	display: block;
	font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	width: 100%;
	padding-bottom: 20px;
	box-sizing: border-box;
}
:host:not([active]) {
	display: none;
}
.container {
	display: inline-block;
}
:host[mobile] .container {
	display: block;
}
:host[mobile] .container#details {
	height: calc(100% - 50px);
}
:host:not([mobile]) .container#details {
	width: calc(80% - 60px);
	height: 100%;
}

/* Right Panel */
:host #rightpanel {
	list-style-type: none;
	padding-left: 0;
	padding-right: 0;
}
:host #rightpanel > li {
	padding-left: 15px;
	padding-right: 15px;
}
:host:not([mobile]) #rightpanel {
	float: right;
	width: 20%;
	margin-top: 0;
}
:host[mobile] #rightpanel {
	margin: 0;
	border-top: none;
	box-shadow: 0 -8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
	position: fixed;
	bottom: 0;
}

/* Status */
#rightpanel > li.status {
	text-align: center;
}
:host .status span{
	border-radius: 10px;
	color: white;
	width: 100%;
	height: 100%;
	display: block;
	line-height: 24px;
}
:host .status.assigned > span {
	background-color: #2980b9;
}
:host .status.overdue > span {
	background-color: #c0392b;
}
:host .status.completed > span, :host .status.graded > span {
	background-color: #27AE60;
}
:host .status.assigned > span:before {
	content: "Assigned";
}
:host .status.overdue > span:before {
	content: "Overdue";
}
:host .status.completed > span:before {
	content: "Completed";
}
:host .status.graded > span:before {
	content: "Graded";
}

/* Dates */
:host .dates {
	padding-left: 15px;
	padding-right: 15px;
}
:host .dates table {
	margin-top: 20px;
	border: none;
	width: 100%;
	text-align: center;
}
:host .dates tbody {
	font-size: 36px;
}
:host .dates .due {
	float: right;
}
:host .dates th {
	font-weight: 200;
}
:host .dates th:not(.assigned) {
	width: 100%;
}

/* Files */
:host #files {
	padding: 0;
}
:host #files > ul {
	list-style-type: none;
	padding-left: 0;
	font-size: 20px;
}
:host #files h2 {
	margin-bottom: 0;
	padding-left: 15px;
	border-bottom-style: solid;
	border-color: #ccc;
	border-width: 1px;
}
:host #files li:not(:last-of-type) {
	border-bottom-style: solid;
	border-color: #ccc;
	border-width: 1px;
}
:host #files li {
	padding-left: 30px;
	height: 30px;
	line-height: 30px;
}
:host #files li > iron-icon {
	margin-right: 10px;
}