<link rel="import" href="/components/polymer/polymer.html"/>
<pc-loader target='["pc-icons"]'></pc-loader>
<dom-module id="pc-student-assignment-view">
	<link rel="import" type="css" href="pc-student-assignment-view.css"/>
	<link rel="import" type="css" href="/css/components.css"/>
	<template>
		<h1 class="page-header">Assignment Name</h1>
		<div class="container" id="details">
		</div>
		<ul class="container rightpanel">
			<li class="status assigned"><span></span></li>
			<li class="dates">
				<table>
					<thead>
						<tr>
							<th class="assigned">Assigned</th>
							<th class="spacer"></th>
							<th class="due">Due</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="assigned"><span></span></td>
							<td class="spacer"></td>
							<td class="due"><span></span></td>
						</tr>
					</tbody>
				</table>
			</li>
			<li class="files">
				<h2>Files</h2>
				<ul>
					<li>File</li>
					<li>File</li>
					<li>File</li>
				</ul>
			</li>
		</ul>
	</template>
	<script>
		Polymer({
			is: 'pc-student-assignment-view',
			properties: {
				mobile: {
					type: Boolean,
					readOnly: true,
					reflectToAttribute: true
				},
				tab: {
					type: String,
					notify: true,
					reflectToAttribute: true
				}
			},
			ready: function() {
				this.scopeSubtree(this.$$('.files>ul'), true);
				$(this).on('pc-view-preshow', function(e) {
					var resourceName = 'assignment/'+e.args[0]+'/'+e.args[1];
					var value = ResourceLoader.getInstance().require({
						name: resourceName,
						cache: 300,
						type: 'JSON'
					}).then();//TODO finish
					if (value === undefined) {
						e.preventDefault();
						window.stage.showView('loading');
						ResourceLoader.instance.require(resourceName).then(
							function(assignment) {
								if (window.location.hash.startsWith('#assignment/'))
									window.stage.showView('assignment',e.args);
							}.bind(this),
							function(error, xhr) {
								console.error(error);
								if (window.location.hash.startsWith('#assignment/'))
									alert('Failed to load \'' + resourceName + '.json\'');
							});
					} else {
						this.buildWith(value);
					}
				}).on('pc-view-postshow', function(e) {
					window.navbar.setActiveButton('assignments');
				}).on('pc-view-preload', function(e) {
					ResourceLoader.instance.require('assignment/'+e.args[0]+'/'+e.args[1]);
				});
			},
			buildWith: function(assignment) {
				console.info(assignment);
				if (window.stage.mobile)
					window.stage.title = assignment.name;
				var $this = $(this);
				$this.find('.page-header').html(assignment.name);
				var lines = assignment.details.split('\n');
				$(this.$.details).empty();
				for (var i in lines)
					$(this.$.details).append($(ce('p')).html(lines[i]));
				
				$this.find('.dates tbody .assigned').html(assignment.assigned);
				$this.find('.dates tbody .due').html(assignment.due);
				
				$this.find('.status').removeClass('future assigned graded completed overdue').addClass(assignment.status);
				
				var fileRow = $this.find('.files');
				if (assignment.files.length == 0) {
					fileRow.css({display:'none'});
				} else {
					fileRow.css({display:'list-item'});
					var filelist = fileRow.find('ul').empty();
					for (var i in assignment.files) {
						var file = assignment.files[i];
						var entry = $(ce('li')).html(file.name);
						filelist.append(entry);
					}
				}
			}
		});
	</script>
</dom-module>