<link rel="import" href="/components/polymer/polymer.html"/>
<pc-loader target='["iron-icon"]'></pc-loader>
<dom-module id="pc-sidebar">
	<style>
		:host {
			display: inline-block;
			padding-top: 50px;
			padding-left: 0px;
			width: 100%;
		}
		:host>paper-button {
			align-items: center;
			background-color: #FFF;
			border-radius: 0;
			display: flex;
			flex-direction: row;
			font-size: 16px;
			font-weight: 400 !important;
			line-height: 24px;
			margin-left: 0;
			min-height: 48px;
			padding-top: 0;
			padding-bottom: 0;
			padding-right: 16px;
			padding-left: 16px;
			text-transform: none !important;
			transition: background-color 0.5s ease;
			width: 100%;
		}
		:host>paper-button>iron-icon {
			padding-right: 32px;
		}
		:host>paper-button[selected] {
			background-color: #CCC;
		}
	</style>
	<template>
		<paper-button> <iron-icon icon="schedule"></iron-icon> Schedule </paper-button>
		<paper-button> <iron-icon icon="class"></iron-icon> Assignments </paper-button>
		<paper-button> <iron-icon icon="perm-contact-calendar"></iron-icon> Calendar </paper-button>
		<paper-button> <iron-icon icon="grade"></iron-icon> Grades </paper-button>
		<paper-button> <iron-icon icon="dns"></iron-icon> Settings </paper-button>
		<paper-button> <iron-icon icon="code"></iron-icon> Source </paper-button>
	</template>
	<script>
		Polymer({
			is: 'pc-sidebar',
			properties: {},
			ready: function() {
				window.sidebar=this;
				console.log('hi!');
			}
		});
	</script>
</dom-module>