<link rel="import" href="/components/polymer/polymer.html"/>
<pc-loader target='["pc-icons"]'></pc-loader>
<dom-module id="pc-student-assignments-view">
	<link rel="import" type="css" href="pc-student-assignments-view.css"/>
	<link rel="import" type="css" href="/css/table.css"/>
	<link rel="import" type="css" href="/css/pager.css"/>
	<template>
		<h1 class="page-header">Assignments</h1>
		<div class="container">
			<ul class="pager">
				<li class="prev" on-click="_prevDay">←</li>
				<li class="center">{{_prettifyDate(date)}}</li>
				<li class="next" on-click="_nextDay">→</li>
			</ul>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-type sortable">Type</th>
						<th class="col-classname sortable">Class</th>
						<th class="col-title sortable">Title</th>
						<th class="col-assigned sortable">Assigned</th>
						<th class="col-due sortable">Due</th>
						<th class="col-status sortable">Status</th>
					</tr>
				</thead>
				<tbody>
					<tr class="urgent">
						<td>Test</td>
						<td><a href="#classpage/1">History</a></td>
						<td><a href="#assignment/1/1">Unit Test 1</a></td>
						<td>Jan. 05</td>
						<td>Jan. 13</td>
						<td class="status assigned"><span></span></td>
					</tr>
					<tr class="urgent">
						<td>Homework</td>
						<td><a href="#classpage/2">Math</a></td>
						<td><a href="#assignment/2/1">P. 11-15 #5-9</td>
						<td>Jan. 12</td>
						<td>Jan. 13</td>
						<td class="status completed"><span></span></td>
					</tr>
					<tr>
						<td>Homework</td>
						<td><a href="#classpage/3">English</a></td>
						<td><a href="#assignment/3/1">Short Paragraph on Nautili</td>
						<td>Jan. 11</td>
						<td>Jan. 12</td>
						<td class="status assigned file-upload"><span></span></td>
					</tr>
					<tr>
						<td>Project</td>
						<td><a href="#classpage/1">History</a></td>
						<td><a href="#assignment/1/2">Presentation on Bees</a></td>
						<td>Dec. 5</td>
						<td>Jan. 3</td>
						<td class="status overdue"><span></span></td>
					</tr>
					<tr>
						<td>Essay</td>
						<td><a href="#classpage/1">English</a></td>
						<td><a href="#assignment/1/2">Cuttlefish Interview</a></td>
						<td>Dec. 5</td>
						<td>Jan. 3</td>
						<td class="status graded icon"><span><iron-icon icon="pc:attach-doc"></iron-icon></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</template>
	<script>
		var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];
		var dayPrefixes = ['Sun','Mon','Tues','Wedness','Thurs','Fri','Satur'];
		Polymer({
			is: 'pc-student-assignments-view',
			properties: {
				mobile: {
					type: Boolean,
					readOnly: true,
					reflectToAttribute: true
				},
				date: {
					type: Number,
					notify: true,
					observer: '_scheduleWriter',
					value: -1
				}
			},
			ready: function() {
				if (this.date == -1)
					this.date = Date.now();
				this.scopeSubtree(this.$$('tbody'), true);
			},
			_nextDay: function() {
				this.date = this.date + 84600000 ;
			},
			_prevDay: function() {
				this.date = this.date - 84600000 ;
			},
			_scheduleWriter: function(ts) {
				
			},
			buildSchedule(info, comparator) {
				var container = $(this).find('tbody').empty();
				var classes = info.sort(comparator);
				for (var i in classes) {
					var clazz = classes[i];
					container.append($('<tr>')
						.append($('<td>').html(clazz.block))
						.append($('<td>')
							.append($('<span>')
								.addClass('starttime')
								.html(clazz.start))
							.append($('<span>').addClass('separator'))
							.append($('<span>')
								.addClass('endtime')
								.html(clazz.end)))
						.append($('<td>')
							.append($('<a>')
								.attr('href','#classpage/'+clazz.id)
								.html(clazz.name)))
						.append($('<td>')
							.append($('<a>')
								.attr('href','mailto:'+clazz.temail)
								.html(clazz.tfname)))
						.append($('<td>')
							.addClass('attendance')
							.addClass(clazz.attendance)
							.append($('<span>'))));
					}
			},
			_prettifyDate: function(ts) {
				var date = new Date(ts);
				return dayPrefixes[date.getDay()] + 'day, ' + months[date.getMonth()] + ' ' + date.getDate() + ', ' + date.getFullYear();
			}
		});
	</script>
</dom-module>