<link rel="import" href="/components/polymer/polymer.html"/>
<pc-loader target='["pc-icons"]'></pc-loader>
<dom-module id="pc-student-assignments-view">
	<link rel="import" type="css" href="pc-student-assignments-view.css"/>
	<link rel="import" type="css" href="/css/components.css"/>
	<link rel="import" type="css" href="/css/table.css"/>
	<link rel="import" type="css" href="/css/pager.css"/>
	<template>
		<h1 class="page-header">Assignments</h1>
		<div class="container">
			<ul class="pager">
				<li class="prev" on-click="_prevDay">←</li>
				<li class="center">{{_prettifyDate(date)}}</li>
				<li class="next" on-click="_nextDay">→</li>
			</ul>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-type sortable">Type</th>
						<th class="col-classname sortable">Class</th>
						<th class="col-title sortable">Title</th>
						<th class="col-assigned sortable">Assigned</th>
						<th class="col-due sortable">Due</th>
						<th class="col-status sortable">Status</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</template>
	<script>
		var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];
		var monthShort = ['Jan.','Feb.','March','Apr.','May','June','July','Aug.','Sept.','Oct.','Nov.','Dec.'];
		var dayPrefixes = ['Sun','Mon','Tues','Wedness','Thurs','Fri','Satur'];
		Polymer({
			is: 'pc-student-assignments-view',
			properties: {
				mobile: {
					type: Boolean,
					readOnly: true,
					reflectToAttribute: true
				},
				date: {
					type: Number,
					notify: true,
					observer: '_scheduleWriter',
					value: -1
				}
			},
			ready: function() {
				if (this.date == -1)
					this.date = Date.now();
				this.scopeSubtree(this.$$('tbody'), true);
				$(this).on('pc-view-preshow', function(e) {
					var value = ResourceLoader.instance.getImmediate('assignments');
					if (value === undefined) {
						e.preventDefault();
						window.stage.showView('loading');
						ResourceLoader.instance.require('assignments').then(
							function(assignments) {
								for (var i in assignments) {
									var assignment = assignments[i];
									assignment.assigned = new Date(assignment.assigned);
									assignment.due = new Date(assignment.due);
								}
								if (window.location.hash.startsWith('#assignments'))
									window.stage.showView('assignments',e.args);
							}.bind(this),
							function(error) {
								console.warn(error);
							});
					} else {
						this.buildList(value,function(a,b){return a.due - b.due});
					}
				}).on('pc-view-postshow', function(e) {
					window.navbar.setActiveButton('assignments');
				});
			},
			_nextDay: function() {
				this.date = this.date + 84600000 ;
			},
			_prevDay: function() {
				this.date = this.date - 84600000 ;
			},
			_scheduleWriter: function(ts) {
				
			},
			buildList(info, comparator) {
				var container = $(this).find('tbody').empty();
				var assignments = info.sort(comparator);
				var ce=function(x){return document.createElement(x)};
				for (var i in assignments) {
					var assignment = assignments[i];
					container.append($(ce('tr'))
						.append($(ce('td')).html(assignment.type))
						.append($(ce('td'))
							.append($(ce('a'))
								.attr('href','#class/'+assignment.classID)
								.html(assignment.class)))
						.append($(ce('td'))
							.append($(ce('a'))
								.attr('href','#assignment/'+assignment.classID+'/'+assignment.id)
								.html(assignment.name)))
						.append($(ce('td')).html(this.prettyDateShort(assignment.assigned)))
						.append($(ce('td')).html(this.prettyDateShort(assignment.due)))
						.append($(ce('td'))
							.addClass('status')
							.addClass(assignment.status)
							.append($(ce('span')))));
				}
			},
			_prettifyDate: function(ts) {
				var date = new Date(ts);
				//TODO add i18n?
				return dayPrefixes[date.getDay()] + 'day, ' + months[date.getMonth()] + ' ' + date.getDate() + ', ' + date.getFullYear();
			},
			prettyDateShort: function(arg) {
				var date = (arg instanceof Date) ? arg : new Date(arg);
				return monthShort[date.getMonth()] + ' ' + date.getDate();
			}
		});
	</script>
</dom-module>