.page-header {
	margin-left: 15px;
    font-weight: 400;
	font-size: 36px;
	line-height: 1.1;
	margin-bottom: 40px;
	color: #333;
}
.container {
	border-width: 1px;
	border-color: #ddd;
	padding: 19px;
	margin-bottom: 20px;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
	border-radius: 2px;
	border-top-width: 0;
	margin-left: 15px;
	margin-right: 15px;
	background-color: white;
}
:host a {
	color: #5252ff;
	text-decoration: none;
}
:host a:hover {
	text-decoration: underline;
}
:host[mobile] .container {
	width: calc(100% - 38px);
	border-radius: 0;
	margin: 0;
}
:host[mobile] .page-header {
	display: none;
}