html, body {
	width: 100%;
	height: 100%;
}
body {
	padding-top: 60px;
}

.badge-right {
  -webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left:0px;
  padding-left:5px;
}

.badge-left {
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right:0px;
  padding-right:5px;
}

.badge-middle {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-right:0px;
  margin-left:0px;
  padding-right:5px;
  padding-left:5px;
}
.badge-red {
	background-color: #C0392B;
}
.badge-blue {
	background-color: #2980b9;
}
.fullsize {
	width: 100%;
	height: 100%;
}
.pagewrapper>:not(.active) {
	display: none !important;
}
.down50 {
	position: relative;
	top: 50px;
}
.fullsize.down50 {
	height: calc(100% - 50px);
}
.fullsize.jumbotron {
	margin-bottom: 0px;
}
.navbar-brand.active, .hash-active {
	color: inherit;
	background-color: rgba(255,255,255,.1);
}
*.virtual {
	width: 0px;
	height: 0px;
	display: none !important;
}
@media screen and (min-device-width: 768px) {
	li.dropdown ul.dropdown-menu.fold-out {
		-webkit-transform: perspective(400) rotate3d(1,0,0,-90deg);
		-webkit-transform-origin:50% 0;
		-webkit-transition:250ms;
		-moz-transition:250ms;
		-o-transition:250ms;
		transition:250ms;
		max-height: 0px;
		overflow: hidden;
		display: block;
		
	}
	li.dropdown:focus ul.dropdown-menu.fold-out, li.dropdown.open ul.dropdown-menu.fold-out {
		max-height: 1000px;
		-webkit-transform:perspective(400) rotate3d(0,0,0,0);
		transition-delay: 50ms;
		-webkit-transition-delay: 50ms;
		-moz-transition-delay: 50ms;
		-o-transition-delay: 50ms;
	}
	li.dropdown.dropdown-slow-close.dropdown-item-selected:not(:focus) ul.dropdown-menu {
		transition-delay: 500ms;
		-webkit-transition-delay: 500ms;
		-moz-transition-delay: 500ms;
		-o-transition-delay: 500ms;
	}
}
@media screen and (max-device-width: 768px) {
	li.dropdown ul.dropdown-menu.fold-out {
		display: none;
	}
	li.dropdown:focus ul.dropdown-menu.fold-out, li.dropdown.open ul.dropdown-menu.fold-out {
		display: block;
	}
}