.transitions.fade-out {
	opacity: 1;
	animation: containerIn .5s both ease-in;
}
.transitions.fade-out.transitioning {
	animation: containerOut .5s both ease-in;
}
.transitions.fade-in {
	opacity: 0;
	animation: containerOut .5s in ease-in;
}
.transitions.fade-in.transitioning {
	animation: containerIn .5s both ease-in;
}
.transitions.slide-up.transitioning {
	animation: slideUp .5s both ease-in;
}
@keyframes containerOut {
	0% {
		opacity: 1;
	}
	30% {
		box-shadow: none;
		opacity: .7;
	}
	100% {opacity: 0;display: none;}
}
@keyframes containerIn {
	0% {
		opacity: 0;
		display: none;
		box-shadow: none;
	}
	50% {
		opacity: 0;
		display: none;
	}
	80% {
		opacity: 1;
		box-shadow: none;
	}
	100% {
		opacity: 1;
	}
}
@keyframes slideUp {
	from {}
	to {
		height: 0;
	}
}